{% extends "two_factor/_base_focus.html" %}
{% load i18n two_factor %}

{% block content %}
  {% if wizard.steps.current == 'auth' %}
    <p>{% blocktrans %}Ingrese sus datos{% endblocktrans %}</p>
  {% elif wizard.steps.current == 'token' %}
    {% if device.method == 'call' %}
      <p>{% blocktrans trimmed %}Estamos llamando a su teléfono ahora mismo, ingrese los
        dígitos que escuche.{% endblocktrans %}</p>
    {% elif device.method == 'sms' %}
      <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
        sent.{% endblocktrans %}</p>
    {% else %}
      <p>{% blocktrans trimmed %}Porfavor ingrese el token generado por Google
        Authenticator.{% endblocktrans %}</p>
    {% endif %}
  {% elif wizard.steps.current == 'backup' %}
    <p>{% blocktrans trimmed %}Utilice este formulario para ingresar tokens de respaldo para iniciar sesión.
      Estos tokens se han generado para que los imprima y los mantenga seguros. Por favor
      ingrese uno de estos tokens de respaldo para iniciar sesión en su cuenta.{% endblocktrans %}</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    <input type="submit" value="" class="d-none" />

    {% if other_devices %}
      <p>{% trans "O, alternativamente, use uno de sus teléfonos de respaldo:" %}</p>
      <p>
        {% for other in other_devices %}
        <button name="challenge_device" value="{{ other.persistent_id }}"
                class="btn btn-secondary btn-block" type="submit">
          {{ other|device_action }}
        </button>
      {% endfor %}</p>
    {% endif %}
    {% if backup_tokens %}
      <p>{% trans "Como último recurso, puede utilizar un token de respaldo:" %}</p>
      <p>
        <button name="wizard_goto_step" type="submit" value="backup"
                class="btn btn-secondary btn-block">{% trans "Usar token de respaldo" %}</button>
      </p>
    {% endif %}

    {% include "two_factor/_wizard_actions.html" %}
  </form>
{% endblock %}
